* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}




.container {
    display: flex;
    height: 100%;
    justify-content: center;
}

.lado-esquerdo,
.lado-direito {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;   
    flex-direction: column;
    padding: 3rem 2rem 2rem;       
    text-align: center;

}

.lado-esquerdo {
    background: #f5f5f5;
    position: relative;
}

.lado-esquerdo img {
      width: 100%;
    height: 100%;
    object-fit: cover;
}

.lado-esquerdo h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;  
    color: #ffffffe3;
    font: bold;;
}

.lado-direito {
    padding: 2rem;
    text-align: center;
    position: relative;
}

.lado-direito h2 {
    font-size: 50px;
    margin-top:10px ;
    margin-bottom:80px;


}



.botoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border: 1px solid #000;
    border-radius: 25px;
    background: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.botao.google::before,
.botao.apple::before,
.botao.email::before {
    content: "";
 
      display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}



.outros {
     font-size: 0.9rem;
    position: absolute;
    top: calc(50% + 6rem); 
    left: 50%;
    transform: translateX(-50%);

}

.outros a {
    color: #007bff;
    text-decoration: none;
}

.acao {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 4rem;
    background: #000;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    position: absolute; 
    bottom: 2rem;       
    left: 50%;
    transform: translateX(-50%);
    width:500px ;
    height:50px ;
}