body {
    margin: 0%;
}

.menu {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;


}

.menu img {

    width: 100px;

    height: 100px;
    border-radius: 100%;
}

.menu p {

    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;

}

.Pesquisa {

    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.Pesquisa input {

    width: 350px;
    border-radius: 50px;
    font-size: 20px;
    padding-left: 35px;

}

.fotos {

    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.fotos img {

    width: 300px;
    height: 500px;
    border-radius: 50px;
    margin: 20px;


}


.grupo-card {

    display: flex;
    justify-content: center;
    margin-top: 70px;


}

.card {

    width: 219px;
    height: 264px;
    margin: 0px 50px 20px 10px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;


}

.card p {

    color: white;
    font-size: 50px;
    margin: 200px 0px 0px 20px;


}






.banner {
    background-color: black;
    height: 500px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 55px;
    border-radius: 50px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.card-banner {

    height: 320px;
    width: 60%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.card-esquerdo{

font-size:37px ;
font-weight:bold ;


}

.card-esquerdo button{

width:100% ;
height:50px ;
border-radius:50px ;
background-color: black;
color:white ;
font-size:25px ;
cursor: pointer;
font-weight:bold ;

}

.card-direito{

background-image:url(./img/lala.jpg) ;
background-size: cover;
background-position: center;
width:50% ;
height:80% ;
border-radius:40px ;

}


