body {
    margin: 0%;
}

.menu {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;


}

.menu img {

    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.menu p {

    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;

}

.Pesquisa {

    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.Pesquisa input {

    height: 50px;
    width: 350px;
    border-radius: 50px;
    font-size: 20px;
    padding-left: 35px;

}

.grupo-card {

    display: flex;
    justify-content: center;
    margin-top: 70px;


}

.card {

    width: 219px;
    height: 264px;
    margin: 0px 50px 20px 10px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;


}

.card p {

    color: white;
    font-size: 50px;
    margin: 200px 0px 0px 20px;


}




.banner {
    background-color: black;
    height: 500px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 55px;
    border-radius: 50px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.card-banner {

    background-color: #e9e9e9;
    height: 80%;
    width: 60%;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card-esquerdo {

    font-size: 37px;
    font-weight: bold;


}

.card-esquerdo button {

    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;

}

.card-direito {

    background-image: url(./img/49918.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100%;
    border-radius: 40px;

}

.grupo-dicas {

    display: flex;
    width: 100%;
    height: 100%;



}

.dicas {
    font-size: 25px;
    padding: 50px;

}

.grupo-dicas img {

    width: 50%;

}


.rodape {

    background-color: black;
    padding: 100px;
}

.titulo {
    margin-top: 40px;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-size: 50px;

}

.campo-email {


    display: flex;
    justify-content: center;
    height: 58px;


}

.campo-email input {

    height: 100%;
    width: 350px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: 1px solid white;
    padding-left: 10px;

}

.campo-email button {

    border-radius: 20px;
    height: 63px;
    width: 150px;
    cursor: pointer;
    background-color: orange;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 25px;

}

.menu-rodape {

    color: white;
    display: flex;
    justify-content: space-between;

}

.menu-rodape p {

    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;

}

.menu-rodape ul {

    display: flex;

}

.menu-rodape li {

    margin-left: 25px;

}
